
<link rel='stylesheet' id='stylesheet'  href='index.css' type='text/css' media='all' />
<div id="animated-example" class="animated swing">
	<h1>RPS 2.0</h1>	
</div>

<div id="hyper" class="hyper">
<a href="/new-game"><button name="newgame" value="newgame">Let's Play!</button></a>
</div>