
<link rel='stylesheet' id='stylesheet'  href='/styles/new_player.css' type='text/css' media='all' />
<form action="/register" method="POST">
<input type="text" name="name" class="test1 hyper" placeholder="Who Dares Wins!">
<button class="button">Play!</button> 