<h1>RESULTS:</h1>
<% if @game.winner == "Draw" %>
 <h2> It's a draw! </h2>
 <% elsif @game.winner.name == "computer" %>
 <h2> Game over! Please try later. <%= @game.winner.pick %></h2>
<% else %>
<h2>You done it! <%= @game.winner.pick %> </h2>
<%end%>


