h1 {
	text-align: center;
    color: #888;
	font-size: 48px;  
	font-family: 'Copperplate', sans-serif;	
    text-shadow:
    -1px -1px 0 #585858,
    1px -1px 0 #585858,
    -1px 1px 0 #585858,
    1px 1px 0 #585858; 
}

h2 {
    text-align: center;
	color: #888;
	font-size: 36px;  
	font-family: 'Copperplate', sans-serif;	
    text-shadow:
    -1px -1px 0 #585858,
    1px -1px 0 #585858,
    -1px 1px 0 #585858,
    1px 1px 0 #585858; 
}

.rules {
	text-align: center;
	vertical-align: middle;
}

button, .test1 {
    display: block;
    position: relative;
    color: #888;
    text-shadow: 0 1px 0 #FFFFFF;
    text-decoration: none;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    font-family: helvetica, arial, sans-serif;
    border-radius: 8px;
    border: 0px;
    margin: 0 auto;
    width: 150px;
}

body {
	background: url("/Images/rock_paper_scissors_japan.jpeg");
	background-size: cover;
}

/*
THIS IS WHAT THE CENTERING WAS LINK BEFORE ENRIQUE HAPPENED!

button, .test1 {
    display: inline-block;
    position: relative;
    color: #888;
    text-shadow: 0 1px 0 #FFFFFF;
    text-decoration: none;
    text-align: center;
    padding: 8px 12px;
    font-size: 12px;
    font-weight: 700;
    font-family: helvetica, arial, sans-serif;
    border-radius: 8px;
    border: 0px;
    margin: 0px auto;
    text-align: center;
}

body {
    background: url(Images/rock_paper_scissors_japan.jpeg);
    background-size: cover;
    text-align: center;
}*/
